.form-edit-profile__submit-btn {
  background-color: #000;
  color: #fff;
  width: 100%;
  transition: opacity 0.5s;
  height: 50px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  border-radius: 2px;
  border: none;
}
.form-edit-profile__submit-btn:hover {
  opacity: .8;
}
@media screen and (max-width: 680px) {
  .form-edit-profile__submit-btn {
    height: 46px;
    margin-top: 16px;
    font-size: 14px;
    line-height: 17px;
  }
}
