.element__like-btn {
  margin: 0;
  padding: 0;
  background-color: #fff;
  background-image: url('../../../images/like.svg');
  background-position: center center;
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  border: none;
  cursor: pointer;
  transition: background-image 0.5s;
  margin-top: 6px;

}
.element__like-btn:hover {
  background-image: url('../../../images/like-hover.svg');
}
.element__like-btn:active {
  background-image: url('../../../images/like-active.svg');
}
